
<div class="back-holder">
  <a href="/welcome">
    <i class="glyphicon glyphicon-chevron-left reg-back"></i>
  </a>
  <span class="reg-back">Back</span>
</div>

<div class="registration-forms-holder">
  <%= render partial: "form" %>
</div>

<%= render partial: "shared/progress_bar",locals: {prg: 1} %>
